/* orginal code Start Bootstrap - Agency v7.0.4 (https://startbootstrap.com/theme/agency) */



body,
html{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
/* ---------------------navbar*/
.fixed-top {
    margin:0px 5vw;   
}

.container{
    padding-top:80px;
}
/*---------------------hero image at home page*/
.hero{
    background-image: url("pexels-rosmary-ketchum-parade.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 19rem;
}

.hero_text{
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem; 
}

.welcome_text{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    color: #3a8cdf;
}

.btn{
    margin:.75rem .375rem;
}

.btn-primary {
    color: #fff;
    background-color: #198754;
    border-color: #ffc800;
}