/* orginal code Start Bootstrap - Agency v7.0.4 (https://startbootstrap.com/theme/agency) */



body,
html{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
/* ---------------------navbar*/
.fixed-top {
    margin:0px 5vw;   
}

.container {
    flex: 1 0 auto;
}

.container{
    padding-top:80px;
}

.navbar-light 
.navbar-brand{
    color: rgba(131,53,131.9);
    font-weight: 500;
}

/*---------------------hero image at home page*/
.hero{
    background-image: url('/static/img/parade.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
}

.hero_text{
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem; 
}

.welcome_text{
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    color: #3a8cdf;
}

.btn{
    margin:.75rem .375rem;
}

.btn-primary {
    color: #fff;
    background-color: #198754;
    border-color: #ffc800;
}

#general_form {
    display: none;
}

#code_form {
    display: none;
}

#review_form {
    display: none;
}

li {
    list-style: none;
}

.post_card {
    display: flex;
    width: 100%;
}     
.post_item {
    cursor: pointer;
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: rgba(26, 188, 156, 0.9);
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}

.flex {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 1%;
}