{% extends "base.html" %}

{% block content %}
<div class="hero-ally">
    <h2 class="top-head">Proud Community</h2>
</div>
<section>
           <div class="ally">

        <div class="ally-0">
    <h1>Proud Community</h1>
    <div>
        <h2>Great places to meet LGBTQ+ within the tech industry</h2>
        <h3>Out in Tech London</h3>
        <p>Consisting of a global network of over 40,000 members, Out in Tech provides scholarships, puts on youth events and supports members in career advancement and networking. Out in Tech members host over 75+ local events annually. They have active chapters in New York City, Los Angeles, San Francisco, London, Portland, Chicago, DC, Boston, Austin, Indianapolis, Philadelphia, Stockholm and Bengaluru.</p>
        <a href="https://outintech.com/" target="_blank">Out in Tech</a>
        <h3>Lesbians Who Tech</h3>
        <p>Lesbians Who Tech support more than 15,000 members in over 35 local chapters globally, and host events in nearly 40 cities. They strive to increase the visibility of queer women in the tech field, a sector where female representation is already lacking. Globally, women take up less than in 4 technical roles at major tech companies.</p>
        <a href="https://lesbianswhotech.org/speakers/london-breed/" target="_blank">Lesbians Who Tech</a>
        <h3>Tech London Advocates – LGBTQ+</h3>
        <p>The Tech London Advocates LGBTQ+ working group is dedicated to helping “organisations to identify hidden bias and provide information on reducing bias and thus increase inclusivity.”  They aim to create more inclusive workspaces through a series of professional networking and mentoring events, panels and workshops.</p>
        <a href="https://www.techlondonadvocates.org.uk/working-groups/lgbtq/" target="_blank">Tech London Advocates – LGBTQ+</a>
        <h3>Intertech LGBT+ Diversity Forum</h3>
        <p>Founded in 2012, Intertech LGBT+ Diversity Forum (“Intertech”) is an NGO dedicated to promoting LGBT+ diversity in the UK tech sector. A forum for members of the  LGBTQ+ community and their allies, they’re working towards driving positive change for LGBT+ individuals.</p>
        <a href="https://intertechlgbt.interests.me/" target="_blank">Intertech LGBT+ Diversity Forum</a>
        <h3>Queer Code London</h3>
        <p>Queer Code London is a community of queer programmers in London. Almost one thousand members meet up regularly for talks, workshops, and networking events in central London locations.</p>
        <a href="https://queer-code.org/" target="_blank">Queer Code</a>
    </div>    
    <div class="ally-1">
      
        <h2>Companies supporting Proud community</h2>
        <p>Supporting LGBTQ employees can look different from company to company, but the main goal is making sure employees are uplifted and treated like a valued part of the office community regardless of how they identify. Employee resource groups, specific benefits for same-sex couples and transgender employees, and supporting LGBTQ organizations are all ways that prove a company not only welcome employees of all gender identities, but will continuously stand behind them. See the list below for just some of the companies that use these initiatives and more to support their LGBTQ employees.</p>
        <ul>
            <li>Adobe</li>
            <li>Accenture</li>
            <li>Apple</li>
            <li>HP</li>
            <li>IBM</li>
            <li>Microsoft</li>
            <li>Oracle</li>
            <li>Paypal</li>
            <li>Twitter</li>
        </ul>
    </div>
    <div>
        <h2>LGBTQ+ Awareness Courses</h2>
        <h3>High Speed Training</h3>
        <p>This LGBTQ+ Awareness course raises awareness of the issues faced in the workplace by lesbian, gay, bisexual, trans and queer + (LGBTQ+) people. The course helps you to recognise your responsibility for promoting equality and diversity, encouraging a zero-tolerance environment, and reducing the likelihood of discrimination, harassment, victimisation and bullying of LGBTQ+ staff members.</p>
        <a href="https://www.highspeedtraining.co.uk/safeguarding-people/lgbt-awareness-training" target="_blank">Click here for more info</a>
        <h3>Work Pride 2021</h3>
        <p>A Global Virtual Pride Conference - This 5-day series of events is free for professionals, graduates, inclusive employers, and anyone who believes in workplace equality. Each year, WorkPride welcomes thousands of virtual attendees from around the globe to network, share best practices, and learn strategies to help create workspaces that are inclusive of all sexual orientations, gender identities, and gender expressions.</p>
        <a href="https://www.mygwork.com/en/work-pride-2021" target="_blank">Click here for more info</a>
        <h3>Virtual College</h3>
        <p>This training is designed to giver learners a much deeper understanding of the key issues facing LGBTQ workers and how to ensure that they are safeguarded in the workplace. Upon completion of this course learners will be able to create an inclusive environment for all employees through their policies and procedures.</p>
        <a href="https://www.virtual-college.co.uk/courses/safeguarding/LGBT-awareness" target="_blank">Click here for more info</a>
    </div>    
    <div class="ally-2">
        <h2>Check out these Proud LQBTQ+ in the Tech Industy</h2>
        <h3>Tim Cook: CEO of Apple</h3>
        <p>Tim Cook is seen as a LGBT leaders in tech as he is the chief executive officer of Apple, he joined the company in March 1998 and in August 2011, he was made CEO. After being at the company for 3 years, Tim Cook came out to the public as gay, making him the first openly gay CEO on the fortune top 500.</p>
        <h3>Peter Arvai: CEO and Co-Founder of Prezi </h3>
        <p>Before starting up Prezi, he found a healthtech start-up in Sweden. In 2008, Arvai and his co-founders started Prezi in Budapest. He had already come out in Sweden, however, he had to come out to his customers and colleagues again once in Hungary. Since then, fellow colleagues at Prezi have come out and have stated that it made it so much easier having a gay CEO.</p>
        <h3> Hayley Sudbury: Founder and CEO of Werkin </h3>
        <p>She was a part of the financial services for most of her working life but started up Werkin in 2016. Being a lesbian herself, she created Werkin, so businesses could enhance the visibility of diverse talents. She is now a mentor for young people perusing STEM careers and has been recognised in the FT Outstanding Top 100 LGBT Executives.</p>
        <h3>Jon Hall: Board chair for the Linux Professional Institute</h3>
        <p>Hall attended Drexel University where he studied computer science. He furthered his education by achieving a Master’s in science and computer science in 1977. He currently is the board chair for the Linux professional institute and is also CEO for OptDyn tech company. In 2012, he wrote an article for Linux magazine where he publicly announced that he was gay.</p>
        <h3>Chris Hughes: Co-Founder of Facebook </h3>
        <p>Hughes grew up in North Carolina as an only child. He was fortunate enough to get funds to attend Philips academy which was a boarding school. Through his high school journey, his life completely changed as he soon realised, he was gay. Hughes attended Harvard University where he met Mark Zuckerberg and Dustin Moskovitz and they started up Facebook.</p>
        <h3>Claudia Brind-Woody: Vice President of IBM</h3>
        <p>She is known as one of the most powerful gay women in business and is vice president at IBM and a supports many LGBT+ networks. Coming out as a lesbian is something that Claudia is proud of and has contributed to many diversity programmes in the workplace and books. She has helped LGBT+ diversity in business which has led to IBM sponsoring over 40 diversity networks across 30 countries. Claudia is also a board member of Out & Equal which is a group that campaigns for workplace equality.</p>
        <h3>Juergen Maier: CEO of Siemens UK</h3>
        <p>He is a fellow of The Institution of Engineering Technology and is currently working as chief executive officer for Siemens. Before rising the position of CEO and being seen as one of the LGBT leaders in tech, he held several senior positions within the company. Juergen was worried that his sexual orientation would cause him problems in his career so remained secretive. However, in recent years he has spoken out about his worries and struggles as a gay man and now speaks against homophobia in the workplace.</p>
    </div>    
    <div>
        <h2>Pride Events</h2>
        <p>Pride is about people coming together to celebrate diversity and support the wider LGBTQ+ community. Everyone attends, from friends and families, to local clubs and institutions. This will also attract organisations and charities, who will often provide freebies, workshops and educational materials. If this is your first Pride, the amount of people might be a shock, but make the most of it. Join in with the singing, make some new friends and look out for those surrounding you. Pride Events are safe spaces, so the bigger the crowd, the more support you will have around you.</p>
        <p>Check out the list below for this years Pride Events. These are a great way of celebrating the great diversity of the LGBTQ+ community, the festivals normally include a fabulous line up of amazing artists </p>
        <ul>
            <li>Bristol Pride - Saturday 10th July</li>
            <li>Northern Pride - Saturday 24th July to Sunday 25th July</li>
            <li>Belfast Pride - Saturday 31st July to Sunday 1st August</li>
            <li>Manchester Pride - 27th to 30th August</li>
            <li>Birmingham Pride - 24th to 26th September</li>
            <li>London Pride - Saturday 11th to Sunday 12th September</li>
        </ul>
    </div>
    <div class="ally-3">
        <h2>Get Support</h2>
        <h3>MindOut</h3>
        <p>MindOut is a mental health service run by and for lesbians, gay, bisexual, trans and queer people with experience of mental health issues.</p>
        <a href="https://mindout.org.uk/" target="_blank">Mind Out</a>
        <h3>Families and Friends of Lesbians and Gays (FFLAG</h3>
        <p>Offers support to parents, friends and family members of those who identify as LGBT+.</p>
        <a href="https://www.fflag.org.uk" target="_blank">Families and Friends of Lesbians and Gays (FFLAG)</a>
        <h3>Albert Kennedy Trust</h3>
        <p>Supports LGBTQ people aged 16-25 who are homeless or living in a hostile environment.</p>
        <a href="https://www.akt.org.uk" target="_blank">Albert Kennedy Trust</a>
        <h3>Being Gay is OK</h3>
        <p>Provides advice and information for LGBTQ+ people under 25. </p>
        <a href="https://bgiok.org.uk" target="_blank">Being Gay is OK</a>
        <h3>Galop</h3>
        <p>Provides helplines and other support for LGBTIQ+ adults and young people who have experienced hate crime, sexual violence or domestic abuse.</p>
        <a href="http://www.galop.org.uk/" target="_blank">Galop</a>
        <h3>LGBT Foundation</h3>
        <p>Advice, support and information for people identifying as LGBTQ+.</p>
        <a href="https://lgbt.foundation/" target="_blank">LGBT Foundation</a>
        <h3>Pink Therapy</h3>
        <p>Online directory of qualified therapists who identify as or are understanding of minority sexual and gender identities.</p>
        <a href="http://www.pinktherapy.com/" target="_blank">Pink Therapy</a>
        <h3>Stonewall</h3>
        <p>Information and advice for LGBT people on a range of issues.</p>
        <a href="https://stonewall.org.uk" target="_blank">Stonewall</a>

            <p>Information and advice for LGBT people on a range of issues.</p>
            <a href="https://stonewall.org.uk">Stonewall</a>
        </div>
    </div>

    </div>

</section>



{% endblock %}