{% extends "base.html" %}

{% block content %}

<section>
    <h1>Proud Community</h1>
    <div>
    <h2>Great places to meet LGBTQ+ within the tech industry</h2>
        <h6>Out in Tech London</h6>
        <p>Consisting of a global network of over 40,000 members, Out in Tech provides scholarships, puts on youth events and supports members in career advancement and networking. Out in Tech members host over 75+ local events annually. They have active chapters in New York City, Los Angeles, San Francisco, London, Portland, Chicago, DC, Boston, Austin, Indianapolis, Philadelphia, Stockholm and Bengaluru.</p>
        <h6>Lesbians Who Tech</h6>
        <p>Lesbians Who Tech support more than 15,000 members in over 35 local chapters globally, and host events in nearly 40 cities. They strive to increase the visibility of queer women in the tech field, a sector where female representation is already lacking. Globally, women take up less than in 4 technical roles at major tech companies.</p>
        <h6>Intertech LGBT+ Diversity Forum</h6>
        <p>Founded in 2012, Intertech LGBT+ Diversity Forum (“Intertech”) is an NGO dedicated to promoting LGBT+ diversity in the UK tech sector. A forum for members of the  LGBTQ+ community and their allies, they’re working towards driving positive change for LGBT+ individuals.</p>
        <h6>Queer Code London</h6>
        <p>Queer Code London is a community of queer programmers in London. Almost one thousand members meet up regularly for talks, workshops, and networking events in central London locations.</p>
    </div>    


    
    <h2>Companies supporting Proud community</h2>
    <ul>
        <li>Adobe</li>
        <li>Accenture</li>
        <li>Apple</li>
        <li>HP</li>
        <li>IBM</li>
        <li>Microsoft</li>
        <li>Oracle</li>
        <li>Paypal</li>
        <li>Twitter</li>
    </ul>
    <p>Check out this article on Ripple Match - 31 Companies With Impactful Initiatives to Support Their LGBTQ Employees <a href="https://ripplematch.com/journal/article/companies-with-impactful-initiatives-to-support-their-lgbtq-employees-ce4be06a/" target="_blank">Click here</a></p>


    <h3>LGBTQ+ Awareness Courses</h3>
    <h6>High Speed Training</h6>
    <p>This LGBTQ+ Awareness course raises awareness of the issues faced in the workplace by lesbian, gay, bisexual, trans and queer + (LGBTQ+) people. The course helps you to recognise your responsibility for promoting equality and diversity, encouraging a zero-tolerance environment, and reducing the likelihood of discrimination, harassment, victimisation and bullying of LGBTQ+ staff members.
    <a href="https://www.highspeedtraining.co.uk/safeguarding-people/lgbt-awareness-training" target="_blank">Click here for more info</a></p>
    <h6>Work Pride 2021</h6>
    <p>A Global Virtual Pride Conference - This 5-day series of events is free for professionals, graduates, inclusive employers, and anyone who believes in workplace equality. Each year, WorkPride welcomes thousands of virtual attendees from around the globe to network, share best practices, and learn strategies to help create workspaces that are inclusive of all sexual orientations, gender identities, and gender expressions.<a href="https://www.mygwork.com/en/work-pride-2021">Click here for more info</a></p>
    <h6>Virtual College</h6>
    <p>This training is designed to giver learners a much deeper understanding of the key issues facing LGBTQ workers and how to ensure that they are safeguarded in the workplace

        Upon completion of this course learners will be able to create an inclusive environment for all employees through their policies and procedures.<a href="https://www.virtual-college.co.uk/courses/safeguarding/LGBT-awareness">Click here for more info</a></p>



    <h4>Check out these Proud LQBTQ+ in the Tech Industy</h4>

    <h5>Pride Events</h5>
    <ul>
        <li>Bristol Pride - Saturday 10th July</li>
        <li>Northern Pride - Saturday 24th July to Sunday 25th July</li>
        <li>Belfast Pride - Saturday 31st July to Sunday 1st August</li>
        <li>Manchester Pride - 27th to 30th August</li>
        <li>Birmingham Pride - 24th to 26th September</li>
        <li>London Pride - Saturday 11th to Sunday 12th September</li>
    </ul>
        

    <h6>Get Support</h6>
    <a href="https://mindout.org.uk/">Mind Out</a>
    <p>Mental Health Services</p>
    <a href="https://www.fflag.org.uk">Families and Friends of Lesbians and Gays (FFLAG)</a>
    <p>Offers support to parents, friends and family members of those who identify as LGBT+.</p>
    <a href="https://www.akt.org.uk">Albert Kennedy Trust</a>
    <p>Supports LGBTQ people aged 16-25 who are homeless or living in a hostile environment.</p>
    <a href="https://bgiok.org.uk">Being Gay is OK</a>
    <p>Provides advice and information for LGBTQ+ people under 25. </p>
    <a href="https://stonewall.org.uk">Stonewall</a>
    <p>Information and advice for LGBT people on a range of issues.</p>
</section>



{% endblock %}