{% extends "base.html" %}

{% block content %}

<section>
    <h1>Proud Community</h1>
    <p>Great places to meet LGBTQ+ within the tech industry</p>
    <h2>Companies supporting Proud community</h2>
    <h3>Speak to one of our Coding Mentors</h3>
    <h4>Check out these Proud LQBTQ+ in the Tech Industy</h4>
    <h5>Awesome Events</h5>
    <h6>Get Support</h6>
    <a href="https://mindout.org.uk/">Mind Out</a>
    <p>Mental Health Services</p>
    <a href="https://www.fflag.org.uk">Families and Friends of Lesbians and Gays (FFLAG)</a>
    <p>Offers support to parents, friends and family members of those who identify as LGBT+.</p>
    <a href="https://www.akt.org.uk">Albert Kennedy Trust</a>
    <p>Supports LGBTQ people aged 16-25 who are homeless or living in a hostile environment.</p>
    <a href="https://bgiok.org.uk">Being Gay is OK</a>
    <p>Provides advice and information for LGBTQ+ people under 25. </p>
    <a href="https://stonewall.org.uk">Stonewall</a>
    <p>Information and advice for LGBT people on a range of issues.</p>
</section>



{% endblock %}