{% extends "base.html" %}

{% block content %}


<header class="masthead">
    <div class="container">
        <div class="masthead-subheading"><h1>Code for Proud people!</h1></div>
        <div class="masthead-heading text-uppercase welcome_text">It's Nice To Meet You</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>

<!--section>
    <h1>Code for Proud people!</h1>
    <h2>Review me oh yeah</h2>
    <h3>This is awesome!</h3>
    <h4>Another change</h4>
    <h5>Another lovely change</h5>
</section-->



{% endblock %}