{% extends "base.html" %}

{% block content %}

<section>
    <h1>Code for Proud people!</h1>
    <h2>Review me oh yeah</h2>
    <h3>This is awesome!</h3>
    <h4>Another change</h4>
    <h5>Another lovely change</h5>
</section>

<p class="codepen" data-height="265" data-theme-id="light" data-default-tab="html,result" data-user="crypticcaroline" data-slug-hash="gOmybVj" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="How does my code looks?">
  <span>See the Pen <a href="https://codepen.io/crypticcaroline/pen/gOmybVj">
  How does my code looks?</a> by Rebecca Kelsall (<a href="https://codepen.io/crypticcaroline">@crypticcaroline</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

{% endblock %}