{% extends "base.html" %}

{% block content %}

<div class="hero-login">
    <h2 class="top-head">Log In</h2>
</div>
<div class="row align-items-center d-flex justify-content-center">
    <div class="col-lg-6 my-3 my-lg-0">
        <form class="input-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Username -->
            <div class="input-group ">
                <span class="input-group-text register-icon"><i class="fas fa-user-alt"></i></span>
                {{ form.username(placeholder="Username", class="form-control") }}
                {% for error in form.username.errors %}
                <small class="text-red">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="input-group ">
                <span class="input-group-text register-icon"><i class="fas fa-lock"></i></span>
                {{ form.password(placeholder="Password", class="form-control") }}
                {% for error in form.password.errors %}
                <small class="text-red">{{ error }}</small>
                {% endfor %}
            </div>
            {{ form.submit(class="col-12 mt-4 btn register-btn") }}
        </form>
    </div>   
</div>

{% endblock %}