{% extends "base.html" %}

{% block content %}
<div>
    <p>Post Title:{{post.post_title}}</p>
    <p>Post Type: {{post.post_type}}</p>
    <p>{{post.post_input}}</p>
    <p><a href={{url_for('profile', username=post.username)}}>Author: {{post.author}}</a></p>
    {% if post.code_pen %}
    <a href={{post.code_pen}} target="_blank">My Code Pen</a>
    {% endif %}
    {% if post.github %}
    <a href={{post.github}} target="_blank">GitHub Link</a>
    {% endif %}
    {% if post.deployed %}
    <a href={{post.deployed}} target="_blank">Deployed Link</a>
    {% endif %}

    {% if session_user == post.user_id %}
    <a href="{{ url_for('edit_post', post_id=post._id)}}">Edit Post</a>
    <a href="{{ url_for('delete_post', post_id=post._id)}}">Delete Post</a>
    {% endif %}
</div>

<form class="input-form" method="POST" action="">
    {{ form.hidden_tag() }}
    <!-- Username -->
    <div class="input-group ">
        <span class="input-group-text register-icon"></span>
        {{ form.comment_input(placeholder="Add Comment", class="form-control") }}
        {% for error in form.comment_input.errors %}
        <small class="text-red">{{ error }}</small>
        {% endfor %}
    </div>

    {{ form.submit(class="col-12 mt-4 btn register-btn") }}

</form>
<div class="continer">
    <h5>Comments</h5>
<div class="row">
{% for comment in post.comments %}
{% if comment.comment_user_id == session_user %}
<div class="col-12 post_card">
    <div class="post_item">
    <p><a href={{url_for('profile', username=post.username)}}>Author: {{comment.author}}</a></p>
    <p>Comment: {{comment.comment_input}}</p>
    <form method="POST" action="{{ url_for('delete_comment', post=post._id, comment_id=comment.comment_id)}}" id="
        delete-comment-form">
        <button type="submit" class=" btn btn-yellow btn-red">Delete Comment</button>
    </form>
    </div>
</div>


{% else %}
<div style="border: red solid 1px">
    <p>Author{{comment.author}}</p>
    <p>Comment: {{comment.comment_input}}</p>
</div>
{% endif %}

{% endfor %}
</div>
</div>






{% endblock %}