{% extends "base.html" %}

{% block content %}
<div class="hero-single">
    <h2 class="sub-head">{{post.post_title}}</p>
</div>    
<div class="row">
    <p class="input_p">{{post.post_input}}</p>
    <p><a href="{{ url_for('profile', username=post.username ) }}">{{post.author}}</a></p>
    <p>{{post.date}}</p>
    </div>
    {% if post.code_pen %}
    <a href={{post.code_pen}} target="_blank" class="btn">My Code Pen</a>
    {% endif %}
    {% if post.github %}
    <a href={{post.github}} target="_blank" class="btn">GitHub Link</a>
    {% endif %}
    {% if post.deployed %}
    <a href={{post.deployed}} target="_blank" class="btn ">Deployed Link</a>
    {% endif %}

    {% if session_user == post.user_id %}
    <a href="{{ url_for('edit_post', post_id=post._id)}}" class="btn ">Edit Post</a>
    <a href="{{ url_for('delete_post', post_id=post._id)}}" class="btn ">Delete Post</a>
    {% endif %}
</div>
<div class="row align-items-center d-flex justify-content-center">
    <div class="col-lg-10 my-3 my-lg-0">
        <form class="input-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Username -->
            <div class="input-group ">
                <span class="input-group-text register-icon"></span>
                {{ form.comment_input(placeholder="Add Comment", class="form-control") }}
                {% for error in form.comment_input.errors %}
                <small class="text-red">{{ error }}</small>
                {% endfor %}
            </div>

            {{ form.submit(class="col-12 mt-4 btn register-btn") }}

        </form>
    </div>
</div>

<div class="continer">
    <h3>Comments</h3>
<div class="row">
{% for comment in post.comments %}
{% if comment.comment_user_id == session_user %}
<div class="col-lg-10 my-3 my-lg-0 post_card">
    <div class="post_item">
    <p class="sub-heading large-post">{{comment.comment_input}}</p>
    <p><a href={{url_for('profile', username=post.username)}}>{{comment.author}}</a></p>
    <p>{{comment.date}}</p>
    <form method="POST" class="modal-form" action="{{ url_for('delete_comment', post=post._id, comment_id=comment.comment_id)}}" 
        delete-comment-form">
        <button type="submit" class="btn">Delete Comment</button>
    </form>
    </div>
</div>


{% else %}
<div class="col-lg-10 my-3 my-lg-0 post_card">
    <div class="post_item">
    <p class="sub-heading large-post">{{comment.comment_input}}</p>
    <p><a href={{url_for('profile', username=post.username)}}>{{comment.author}}</a></p>
    <p>{{comment.date}}</p>
    </div>
{% endif %}

{% endfor %}
</div>
</div>






{% endblock %}