{% extends "base.html" %}

{% block content %}


<div class="hero-posts">

    <h2 class="top-head">Welcome to the Review Stream</h2>
    <h3 class="top-sub-white">The place for reading about the latest info, taking part in code reviews and helping
        others with

        their code snippets</h3>

</div>
<div class="stream-container">

    <div class="container">
        <a class="btn btn-danger" href="{{ url_for('upload_post') }}">Add a Post</a>
        {% for post in posts | reverse %}

        {% if post.post_type == 'general' %}
        <div class="posts general_div">
            <div class="row">
                <h3>{{post.post_title}}</h3>
            </div>
            <div class="row">
                <p class="input_p">{{post.post_input}}</p>
                <p><a href="{{ url_for('profile', username=post.username ) }}">{{post.author}}</a></p>
                <p>{{post.date}}</p>

            </div>
            <a href="{{url_for('post', post_id=post._id)}}" class="btn">Full post</a>
        </div>
        {% endif %}
        {% if post.github %}
        <div class="posts review_div">
            <div class="row">
                <h3>{{post.post_title}}</h3>
            </div>
            <div class="row">
                <p class="input_p">{{post.post_input}}</p>
                <p><a href="{{ url_for('profile', username=post.username ) }}">{{post.author}}</a></p>
                <p>{{post.date}}</p>
            </div>

            <a href={{post.github}} target="_blank" class="btn">GitHub Link</a>
            <a href={{post.deployed}} target="_blank" class="btn">Deployed Link</a>
            <a href="{{url_for('post', post_id=post._id)}}" class="btn">Full post</a>

        </div>
        {% endif %}
        {% if post.code_pen %}
        <div class="posts code_div">
            <div class="row">
                <h3>{{post.post_title}}</h3>
            </div>
            <div class="row">
                <p class="input_p">{{post.post_input}}</p>
                <p><a href="{{ url_for('profile', username=post.username ) }}">{{post.author}}</a></p>
                <p>{{post.date}}</p>
            </div>
            <a href={{post.code_pen}} target="_blank" class="btn">My Code Pen</a>
            <a href="{{url_for('post', post_id=post._id)}}" class="btn">Full post</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
   
</div>
{% endblock %}