{% extends "base.html" %}

{% block content %}
<a class="btn btn-danger" href="{{ url_for('upload_post') }}">Add a Post</a>
{% for post in posts | reverse %}
<div style="border: red solid 1px">
    <a href="{{url_for('post', post_id=post._id)}}">Full post</a>
    <p>Post Title:{{post.post_title}}</p>
    <p>Post Type: {{post.post_type}}</p>
    <p>{{post.post_input}}</p>
    <p>Post Author: {{post.author}}</p>
    <p>{{post.date}}</p>
    {% if post.code_pen %}
        <a href={{post.code_pen}} target="_blank">My Code Pen</a>
    {% endif %}
    {% if post.github %}
        <a href={{post.github}} target="_blank">GitHub Link</a>
    {% endif %}    
    {% if post.deployed %}
        <a href={{post.deployed}} target="_blank">Deployed Link</a>
    {% endif %}      
    
</div>
{% endfor %}
{% endblock %}