 {% extends "base.html" %}


 {% block content %}

 <div class="hero-upload">
    <h1 class="top-head">Add a Post</h1>
     <h2 class="top-sub-white">This is a safe place to ask questions, submit full peer reviews and get help with code snippets and functions
     </h2>

</div>

 <div class="add-post-div">
     <div>
     <h3>Post Type</h3>
     <h4>What type of post would you like to make?</h4>
     </div>
     <button id="general" class="btn" onclick="showhide('general_form')">General</button>
     <button id="review" class="btn" onclick="showhide('review_form')">Review</button>
     <button id="code" class="btn" onclick="showhide('code_form')">Code</button>

     {% for error in formCode.post_title.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}
     {% for error in formGeneral.post_title.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}
    

                  {% for error in formReview.post_title.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}
                 {% for error in formReview.github.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}
                  {% for error in formReview.post_input.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}

                 {% for error in formReview.deployed.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}
                    {% for error in formCode.post_input.errors %}
                 <p class="text-red">{{ error }}</p>
                 {% endfor %}
                  {% for error in formCode.code_pen.errors %}
                 <p="text-red">{{ error }}</p>
                 {% endfor %}

<div class="container margin-top">
     <div id="general_form">
         <p>General Posts are for questions, events, advise!!! Maybe you want to ask a question about an LGBTQ issue at work, or you want to share your weekly win with the community! What ever it is go ahead!</p>
         <form class="input-form" method="POST" action="">
             <h3>General Post</h3>
             {{ formGeneral.hidden_tag() }}
             <!-- Post Input -->
             <div class="input-group ">
                 <input type="hidden" id="general" name="post_type" value="general">
                 <span class="input-group-text register-icon"></span>
                 {{ formGeneral.post_title(placeholder="Post Title", class="form-control") }}

             </div>
             <div class="input-group ">
                 <span class="input-group-text register-icon"></span>
                 {{ formGeneral.post_input(placeholder="Description", class="form-control") }}
                 
             </div>

             {{ formGeneral.submit(class="col-12 mt-4 btn register-btn") }}

         </form>
         
     </div>
     <div id="review_form">
         <p>Review Post are for requests for the community to review your entire project, if there is something specific you'd like adivse on then please let the community know in the description.  Include links to your repo and your deployed site so it can be tested properly.</p>
         <form class="input-form" method="POST" action="">
             <h3>Review Post</h3>
             {{ formReview.hidden_tag() }}
             <!-- Post Input -->
             <div class="input-group ">
                 <input type="hidden" id="code" name="post_type" value="review">
                 <span class="input-group-text register-icon"></span>
                 {{ formReview.post_title(placeholder="Post Title", class="form-control") }}
                
             </div>
             <div class="input-group ">
                 <span class="input-group-text register-icon"></span>
                 {{ formReview.post_input(placeholder="Description", class="form-control") }}
                
             </div>
             <div class="input-group ">
                 <span class="input-group-text register-icon"></span>
                 {{ formReview.github(placeholder="GitHub URL", class="form-control") }}
                 
             </div>
             <div class="input-group ">
                 <span class="input-group-text register-icon"></span>
                 {{ formReview.deployed(placeholder="Deployed Site", class="form-control") }}
                 
             </div>

             {{ formReview.submit(class="col-12 mt-4 btn register-btn") }}

         </form>
         
     </div>
     <div id="code_form">
         <p>Code Snippet Requests are for other users to take a quick look at short pieces of code to help you trouble shoot your issues.  We advise using <a href="www.codepen.co.uk" target="_blank">Code Pen</a> You will need to set up an account and then once you've created a codepen you can share the link in the bottom right hand corner of the code pen.  If you have another link to share a snippet please feel free to use that instead.  </p>
         <form class="input-form" method="POST" action="">
             <h3>Code Post</h3>
             {{ formCode.hidden_tag() }}
             <!-- Post Input -->
             <div class="input-group ">
                 <input type="hidden" id="code" name="post_type" value="code">
                 <span class="input-group-text register-icon"></span>
                 {{ formCode.post_title(placeholder="Post Title", class="form-control") }}
                 
             </div>
             <div class="input-group ">
                 <span class="input-group-text register-icon"></span>
                 {{ formCode.post_input(placeholder="Description", class="form-control") }}
              
             </div>

             <div class="input-group ">
                 <span class="input-group-text register-icon"></span>
                 {{ formCode.code_pen(placeholder="Code Pen URL", class="form-control") }}
                
             </div>

             {{ formCode.submit(class="col-12 mt-4 btn register-btn") }}

         </form>
     </div>
         
     </div>
 </div>
 {% endblock %}